.node_modules
structconst.sol
.env
coverage
coverage.json
typechain-types
Greeter.sol
.npmignore
.eslintrc.js
.eslintignore
.prettierignore
.prettierignore
.prettierrc
.solhint.json
.solhintignore
yarn-error.log
index.ts
deploy.ts
tsconfig.json
deploystruct.ts
nftdeploy.sol
deployNFT.ts
mintNFT.ts

#Hardhat files
cache
artifacts
test
jsonfiles
JPEGSFORNFT
node_modules
